name: ci-workflow
on: 
  pull_request:
    branches: 
      - develop
jobs:
  check-aplication:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [16.17.0]    
    steps:      
      - name: Copy repositoryy
        uses: actions/checkout@v3

      - name: Use Node.js ${{ matrix.node }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
          cache: 'yarn'

      - name: Install dependencies with yarn
        run: yarn --frozen-lockfile
      
      - name: Runt ESLint
        run: yarn lint
      
      - name: Run Tests
        run: yarn test
